* text=auto
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

*.gif binary
*.png binary
*.jpg binary

*.po text
*.mo binary

*.min.js -diff linguist-vendored

# Exclude from git archive (tarball releases)
dev export-ignore
lang/.tx export-ignore
*.po export-ignore
*.pot export-ignore
.gitattributes export-ignore
.gitignore export-ignore
