/*.hide{ display:none; }*/

/* Language menu items */
/*
.qtranxs-lang-menu img
{
	vertical-align: middle;
}

.qtranxs-lang-menu-item img
{
	vertical-align: middle;
}
*/

/* Admin bar language icons */

#wpadminbar #wp-admin-bar-language>div.ab-item
{
	padding-right: 30px;
	cursor: default;
}
#wpadminbar #wp-admin-bar-language>div.ab-item,
#wpadminbar #wp-admin-bar-language ul li
{
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 22px;
}


/* qTranslate-X config page */

#qtranxs-languages-menu img {
	vertical-align: middle;
}
.qtranxs-language-list td
{
	vertical-align: middle;
}

/* not sure what this for */
.top-widget { width: auto; }
