/*.hide{ display:none; }*/

/* Language menu items */
/*
.qtranxs-lang-menu img
{
	vertical-align: middle;
}

.qtranxs-lang-menu-item img
{
	vertical-align: middle;
}
*/

/* not sure what this for
.top-widget { width: auto; }
*/
