/*
.qtranxs_title_input {
	border:0pt none;
	font-size:1.7em;
	outline-color:invert;
	outline-style:none;
	outline-width:medium;
	padding:0pt;
	width:100%;
}
.qtranxs_title_wrap {
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
	padding:2px 3px;
}
#qtranxs_textarea_content {
	padding:6px;
	border:0 none;
	line-height:150%;
	outline: none;
	margin:0pt;
	width:100%;
	-moz-box-sizing:
	border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing:	border-box;
	box-sizing: border-box;
}
.qtranxs_title {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.hide-if-no-js.wp-switch-editor.switch-tmce { margin-left:6px !important; }
#qtranxs_debug { width:100%; height:200px }
#postexcerpt textarea { height:4em; margin:0; width:98% }

.qtranxs_lang_div {
	float:right;
	height:12px;
	width:18px;
	padding:6px 5px 8px 5px;
	cursor:pointer;
}
.qtranxs_lang_div.active {
	background: #DFDFDF;
	border-left:1px solid #D0D0D0;
	border-right: 1px solid #F7F7F7;
	padding:6px 4px 8px 4px;
}
#qtranxs_custom_fields { width:100%; }
*/

/* Admin bar language menu */

#wpadminbar #wp-admin-bar-language>div.ab-item
{
	padding-right: 30px;
	cursor: default;
}
#wpadminbar #wp-admin-bar-language>div.ab-item,
#wpadminbar #wp-admin-bar-language ul li
{
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 22px;
}


/* qTranslate-X config page */

#qtranxs-languages-menu img {
	vertical-align: middle;
}
.qtranxs-language-list td
{
	vertical-align: middle;
}


/* Language Switching Buttons as horizontal block */

.qtranxs-lang-switch-wrap
{
	//margin: 10px 0;
	margin: 0;
}

.qtranxs-lang-switch
{
	border: 1px solid  #ccc;
	background-image: linear-gradient(to top,#e5e5e5,#f4f4f4);
	//margin-top: 2px;
	//padding: 8px;
	padding: 0 0 2px 4px;
	margin: 0 4px 0 0;
	cursor: default;
	display: inline-block;
}

.qtranxs-lang-switch.active
{
	border-color: #888;
	background-image: none;
	background-color: #bbb;
	color: #555;
}

.qtranxs-lang-switch>*
{
	vertical-align: middle;
	margin-right: 4px;
}

/* Language Switching Buttons as tabs *

.qtranxs-lang-switch-wrap {
  margin: 15px 0 10px;
  position: relative;
}

.qtranxs-lang-switch-wrap:before{
  position: absolute;
  content: ' ';
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch{
  position: relative;
  border-color: #ccc;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: none;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  opacity: 0.8;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch:hover{
  background: #e0e0e0;
  opacity: 1;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active, .qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active:focus,
.qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active:hover {
  color: #555;
  cursor: default;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  opacity: 1;
}
*/

/* Highlighting the translatable fields */
/*
input.qtranxs-translatable,
textarea.qtranxs-translatable,
div.qtranxs-translatable {
	box-shadow: -3px 0 #333;
}
*/
