/* Language Switching Buttons as Simple Tabs */

.qtranxs-lang-switch-wrap {
	margin: 10px 0 10px;
	position: relative;
}

.qtranxs-lang-switch-wrap:before{
	position: absolute;
	content: ' ';
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	border-bottom: 1px solid #ccc;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch{
	position: relative;
	border-color: #ccc;
	padding: 5px 5px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	background: none;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	opacity: 0.8;
	display: inline-block;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch:hover{
	background: #e0e0e0;
	opacity: 1;
}

.qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active,
.qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active:focus,
.qtranxs-lang-switch-wrap li.qtranxs-lang-switch.active:hover {
	color: #555;
	cursor: default;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-bottom-color: transparent;
	opacity: 1;
}

.qtranxs-lang-switch img {
	margin-right: 4px;
}


/*
	Button "Copy From"
*/

span.qtranxs-lang-copy{
	background-color: #eee;
	margin-left: 10px;
	border: 2px solid #UserColor2;
	border-radius: 12px;
	padding: 0px 4px 3px 8px;
}

span.qtranxs-lang-copy-button {
	font-size: smaller;
	vertical-align: middle;
	cursor: pointer;
}

span.qtranxs-lang-copy-button:hover {
	text-decoration: underline;
}

#wpbody select.qtranxs-lang-copy-select {
	border-radius: 12px;
	font-size: smaller;
	height: initial;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
}
