/* Language Switching Buttons as Tabs in Black Block */

.qtranxs-lang-switch-wrap
{
	margin: 0;
}

.qtranxs-lang-switch
{
	padding: 3px 8px 5px 8px;
	margin: 6px 4px 0 4px;
	display: inline-block;
}

.qtranxs-lang-switch
{
	cursor: pointer;
}
 
.qtranxs-lang-switch>*
{
	vertical-align: middle;
	margin-right: 4px;
}

.qtranxs-lang-switch *
{
	vertical-align: middle;
}

.qtranxs-lang-switch img {
	margin-right: 4px;
}


/*
	Button "Copy From"
*/

span.qtranxs-lang-copy{
	//background-color: #UserColor2;
	margin-left: 10px;
	border: 2px solid #UserColor3;
	border-radius: 12px;
	//vertical-align: middle;
	padding: 0px 4px 3px 8px;
}

span.qtranxs-lang-copy-button {
	font-size: smaller;
	vertical-align: middle;
	cursor: pointer;
}

span.qtranxs-lang-copy-button:hover {
	text-decoration: underline;
}

#wpbody select.qtranxs-lang-copy-select {
	border-radius: 12px;
	font-size: smaller;
	height: initial;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
}
