
.qtrans_title_wrap {
	margin-bottom: 20px;
	padding: 0 !important;
	border: 0 !important;
}

.qtrans_title_input {
	padding: 3px 8px !important;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	outline: 0 !important;
	margin: 0;
}

.acf_wysiwyg .wp-editor-container,
.acf-editor-wrap .wp-editor-container {
	border: 1px solid #e5e5e5 !important;
}

.multi-language-field {
	margin-top: -38px;
}

.acf-table .multi-language-field,
.acf-input-table .multi-language-field {
	margin-top: -6px;
}

.multi-language-field > .wp-switch-editor {
	float: right;
	position: relative;
	top: 1px;
	z-index: 100;
    border: 1px solid #ededed;
    margin-left: -1px;
    text-transform: uppercase;
	cursor: pointer
}

.multi-language-field > .wp-switch-editor:last-of-type {
	margin-left: 5px;
}

.multi-language-field input,
.multi-language-field input:focus,
.multi-language-field textarea,
.multi-language-field textarea:focus {
	border-color: #ddd;
	box-shadow: none;
}

.multi-language-field.focused .wp-switch-editor {
	border-bottom-color: #ddd;
}

.multi-language-field.focused .wp-switch-editor.current-language {
	border-color: #ddd;
	border-bottom-color: #fff;
}

.multi-language-field .wp-switch-editor.current-language {
	background-color: #fff;
	border-bottom-color: #fff;
	color: #333;
}

.multi-language-field > input,
.multi-language-field > textarea,
.multi-language-field > fieldset,
.multi-language-field .acf_wysiwyg,
.multi-language-field .acf-post-object,
.multi-language-field .acf-editor-wrap,
.multi-language-field .acf-file-uploader,
.multi-language-field .acf-image-uploader,
.multi-language-field .acf-url > input { display: none }

.multi-language-field .acf_input input,
.multi-language-field .acf_input textarea,
.multi-language-field .current-language { display: block !important }

.multi-language-field-wysiwyg {
	margin-top: 0;
}

.multi-language-field .acf-url {
	position: relative;
	clear: both;
}

.multi-language-field .acf-file-uploader,
.multi-language-field .acf-image-uploader {
	padding: 20px 10px 10px;
	clear: right;
	border: 1px solid #dfdfdf;
}

.multi-language-field .acf-image-uploader.current-language,
.multi-language-field .acf-file-uploader { background: #fff; }

.multi-language-field-wysiwyg .wp-switch-editor {
	background-color: #ebebeb;
	border-color: #dedede;
}

.multi-language-field-wysiwyg .html-active .switch-html,
.multi-language-field-wysiwyg .tmce-active .switch-tmce,
.multi-language-field-wysiwyg .wp-switch-editor.current-language {
	background-color: #f5f5f5;
	border-bottom-color: #f5f5f5;
}

.multi-language-field-post-object .select2-container--default .select2-selection--multiple,
.multi-language-field-post-object .select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #ddd;
	border-radius: 0;
}
